#add--title{
    display: block;
    width: 90%;
    height: 25px;
    font-size: 25px;
    margin-bottom: 10px;
}
#add--text{
    display: block;
    width: 90%;
    height: 100px;
    font-size: 16px;
}