.full--post{
    border: 1px solid black;
    width: 700px;
    padding: 10px;
    position: relative;

}
.full--title{
    font-size: 24px;
    margin: 10px 0;
}
.full-change{
    display: block;
    padding: 10px;
    cursor: pointer;
    background: #cccccc;
    width: 40px;
    font-weight: bold;

}
.full--remove{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

}
