.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menu p{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px 20px;
  border: 1px solid #cccccc;
}
.menu h6{
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
}